@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Regular.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Black.woff) format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Italic.woff) format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Light.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica';
  src: url(../../fonts/helvetica.woff) format('woff');
  font-weight: normal;
}