body {
  font-size: 10px;
}

h2 {
  font-family: 'Roboto';
  font-size: 6em;
}

h3 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 3.6em;
}

h4 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 3em;
}

p {
  font-family: 'Roboto';
  font-size: 2.1em;
  font-weight: normal;
}

.text-bold {
  font-family: 'Roboto';
  font-weight: bold;
}

.italic {
  font-family: 'Roboto';
  font-style: italic;
}

.color-white {
  color: #ffffff
}

.color-gray {
  color: #707070;
}

.color-orange {
  color: #ff5800;
}

.color-blue-dark {
  color: #003770;
}

.color-yellow {
  color: #F7AF00;
}

.back-white {
  background-color: #ffffff;
}

.back-blue-dark {
  background-color: #003770;
}

.back-orange {
  background-color: #ff5800;
}

.back-pink {
  background-color: #FFD3BC;
}

.back-blue {
  background-color: #044B95;
}

.back-blue-normal {
  background-color: #045EBC;
}

.back-blue-light {
  background-color: #1080F4;
}

.back-yellow {
  background-color: #F7AF00;
}

.pattern-background {
  background-image: url(../../images/bkg/patterns@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.title-mobile {
  display: none;
}

/* Header */

.header {
  background-image: url(../../images/bkg/BANNER-Desktop1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .evolution {
  order: 3;
  background: #003770;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 96px;
  padding-top: 14px;
  padding-bottom: 23px;
}

.header .evolution h4 {
  text-align: "center";
  color: #ffffff;
  font-weight: 300;
  font-size: 1.9em;
  margin-bottom: 10px;
}

.evolution-fixed {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
}

.progress {
  background: #ffffff;
  height: 23px;
  width: 376px;
  padding: 3px;
  transform: skew(-15deg);
}

.progress-bar {
  background: #F7AF00;
  height: 100%;
  transition: width 1s ease-out;
}

.header-title {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
  height: 100%;
}

.title {
  order: 2;
  text-align: left;
  margin-bottom: 52px;
  color: #ffffff;
}

.title h2 {
  font-family: 'Roboto';
  font-size: 6.5em;
  font-weight: 900;
}

.logo-img {
  margin-top: 52px;
  width: 482px;
  height: 84px;
}

.logo {
  order: 2;
}

/* MAIN */

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 75px;
}

.img-teste {
  min-width: 291px;
  width: 100%;
}

/* PLAYER */

.player {
  font-size: 5.7em;
  text-transform: uppercase;
  color: #003770;
  text-align: center;
  margin-bottom: 30px;
}

/*DESTAQUE SIMPLES*/

.highlight {
  background-image: url(../../images/bkg/background-pink.png);
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
}

.simple-highlight {
  display: flex;
  align-items: center;
}

.highlight-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ff5800;
}

.highlight-content h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.8em;
}

.highlight-content p {
  font-weight: 500;
  font-size: 3.8em;
  line-height: 45px;
  color: #ff5800;
}

.image-mobile {
  display: none;
}

/* FLASHCARD */

.flashcard-title {
  font-size: 5.7em;
  font-weight: 900;
  text-transform: uppercase;
  color: #003770;
  text-align: center;
  margin-bottom: 40px;
}

.flashcard-text {
  text-align: left;
  color: #ffffff;
  margin-bottom: 55px;
  margin-top: 81px;
}

.slideshow-1 .slideshow-content .card {
  height: 356px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 252px;
  padding: 52px 50px;
}

.slideshow-1 .slideshow-content .slideshow-content-img {
  margin-bottom: 32px;
}

.is-deactive {
  background-image: url(../../images/ico/more.png);
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  margin-bottom: 22px;
  left: 42%;
}

.card-is-active {
  background-image: url(../../images/ico/less-blue.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.card-back {
  background: #FFD3BC;
  color: #003770;
  padding: 58px 24px 76px 24px;
}

.card-back p {
  font-size: 1.8em;
}

.slideshow-1 .slideshow-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 191px;
  padding: 40px 0 105px 0;
}

.slideshow .slideshow-prev {
  background-image: url(../../images/ico/icon-prev.png);
  background-repeat: no-repeat;
}

.slideshow .slideshow-next {
  background-image: url(../../images/ico/icon-next.png);
  background-repeat: no-repeat;
}

.slideshow-1 .slick-arrow {
  width: 50px;
  height: 62px;
  color: transparent;
  transition: opacity 300ms;
  font-size: 0em;
}

.slideshow-1 .slick-arrow:hover {
  opacity: .5;
}

.slideshow-1 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slideshow-1 .slick-dots li {
  border-radius: 50%;
  margin-right: 15px;
  width: 15px;
  justify-content: center;
  display: flex;
  height: 15px;
  position: relative;
  background: #FFD3BC;
  margin-bottom: -16rem;
}

.slideshow-1 .slick-dots li button {
  border-radius: 50%;
  color: #FFD3BC;
  width: 15px;
  position: absolute;
  height: 15px;
  font-size: 0em;
  cursor: pointer;
  border: none;
  background: #FFD3BC;
  opacity: 20%;
}

.slideshow-1 .slick-dots li.slick-active {
  background: #ffffff;
}

/* Ponto de Parada */

.stop-point {
  background-image: url(../../images/bkg/patterns-orange.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.stop-point-content h2 {
  text-align: center;
  font-weight: 900;
  margin-bottom: 69px;
}

/* Accordion */
.accordion {
  padding-top: 76px;
  margin-bottom: 88px;
}

.back-accordion {
  background-image: url(../../images/bkg/patterns-transparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFD3BC;
}

.accordion-principal-title {
  font-weight: 900;
  padding-bottom: 13px;
  color: #003770;
  text-transform: uppercase;
  background: #ffffff;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title::after {
  content: '';
  height: 31px;
  width: 31px;
  background: url(../../images/ico/more.png) center no-repeat;
}

.is-open {
  background-color: #F7AF00;
  padding-bottom: 0px;
}

.is-open::after {
  content: '';
  height: 31px;
  width: 31px;
  background: url(../../images/ico/less-orange.png) center no-repeat;
}

.accordion-content {
  background: #ffffff;
  color: #707070;
  padding: 28px 15px 21px 26px;
  text-align: left;
}

.accordion-content p {
  font-size: 16px;
}

/* INFOGRÁFICO */
.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 124px;
  margin-bottom: 91px;
}

.info-title h2 {
  font-weight: 900;
}

.info-title img {
  margin-right: 20px;
  width: 102px;
  height: 102px;
}

/* SLIDER */

.slider-title {
  text-transform: uppercase;
  color: #003770;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 153px;
}

.slideshow-2 .slideshow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow-2 .slideshow-caption {
  width: 100%;
  max-width: 528px;
  height: 287px;
  padding: 35px 44px 31px 44px;
  position: relative;
  top: -40px;
  color: #ffffff;
  background: #1080F4;
}

.slideshow-2 .slideshow-caption img {
  width: 100%;
}

.slideshow-2 .slideshow-caption h5 {
  margin-bottom: 18px;
  font-size: 3.2em;
  font-weight: bold;
}

.slideshow-2 .slideshow-caption p {
  font-size: 2.1em;
  line-height: 24px;
}

.slideshow-2 .slideshow-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 135px;
  margin-bottom: 78px;
}

.slideshow-2 .slick-arrow {
  width: 50px;
  height: 62px;
  color: transparent;
  transition: opacity 300ms;
  font-size: 0em;
}

.slideshow-2 .slick-arrow:hover {
  opacity: .5;
}

.slideshow-2 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slideshow-2 .slick-dots li {
  border-radius: 50%;
  margin-right: 15px;
  width: 15px;
  justify-content: center;
  display: flex;
  height: 15px;
  position: relative;
  margin-bottom: -8rem;
}

.slideshow-2 .slick-dots li button {
  border-radius: 50%;
  color: transparent;
  width: 15px;
  position: absolute;
  height: 15px;
  font-size: 0em;
  cursor: pointer;
  border: none;
  background: #ffffff;
  opacity: 20%;
}

.slideshow-2 .slick-dots li.slick-active {
  background: #ffffff;
}

/* IMPORTANTE */
.important-text {
  font-size: 2.4em;
  text-align: left;
  color: #F7AF00;
  margin-bottom: 72px;
}

/* TOOLTIP */
.tooltip-content {
  margin-top: 225px;
}

.tooltip-content p {
  color: #707070;
  text-align: left;
  font-size: 2.1em;
}

.tooltip-link {
  background-image: url('../../images/bkg/background-tooltip.png');
  background-size: 100% 100%;
  text-decoration: none;
  padding: 0 10px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}

.tooltip-style {
  background: #F7AF00;
  color: #ffffff;
}

.qtip {
  width: 253px;
  height: 65px;
}

.qtip .qtip-content {
  font-size: 2.1em;
  text-align: center;
  line-height: 21px;
  font-weight: normal;
}

.qtip canvas {
  display: none;
}

.qtip-close {
  display: none;
}

/* QUESTÕES */

.activity-content {
  background-image: url(../../images/bkg/patterns-orange.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 242px;
  padding-top: 94px;
}

.activity-content h2 {
  font-weight: 900;
  color: #ff5800;
  text-align: center;
  margin-bottom: 73px;
}

.question {
  align-items: left;
  position: relative;
}

.question-featured p {
  margin-bottom: 40px;
  color: #707070;
  line-height: 24px;
}

.question .btn-close-feedback {
  background: transparent;
  float: right;
}

.btn-close-feedback img {
  height: 38px;
  width: 38px;
}

.question .question-feedback {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  position: absolute;
}

.question .question-feedback-content {
  height: 317px;
  background-image: url(../../images/bkg/patterns-transparent.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 42px 41px 42px 41px;
}

.question .negative-feedback {
  background: #ff5800;
}

.question .negative-feedback .visual-feedback img {
  height: 220px;
  width: 256px;
}

.question .positive-feedback {
  background: #1080F4;
}

.question .positive-feedback .visual-feedback img {
  height: 231px;
  width: 231px;
}

.question .question-feedback-content .visual-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 38px;
}

.question .question-feedback-content .visual-feedback p {
  margin-left: 60px;
  color: #ffffff;
  text-align: center;
  font-size: 2.4em;
  line-height: 28px;
  margin-right: 23%;
  font-family: 'Helvetica';
}

/*Alternativa A */

#radio-ia:checked {
  border: 2px solid #ff5800;
}

#radio-ia:checked+label {
  color: #ff5800;
}

/*Alternativa B */

#radio-ib:checked {
  border: 2px solid #ff5800;
}

#radio-ib:checked+label {
  color: #ff5800;
}

/*Alternativa C */

#radio-ic:checked {
  border: 2px solid #ff5800;
}

#radio-ic:checked+label {
  color: #ff5800;
}

.label-radio {
  font-size: 2.1em;
  color: #003770;
}

.inputChecked {
  border: 2px solid #ff5800;
}

.labelChecked {
  color: #ff5800;
}

.question .input-group {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.question .input-radio {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  outline: none;
  border: 2px solid #003770;
  appearance: none;
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-radio:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff5800;
  opacity: 0;
}

.input-radio.clickChange:before {
  background: #003770;
  opacity: 1;
}

.input-radio:checked:before {
  opacity: 1;
}

.btn {
  border: none;
}

button.btn-save {
  text-transform: uppercase;
  margin-top: 45px;
  padding: 5px 20px;
  background: #F7AF00;
  color: #ffffff;
  font-size: 2.6em;
  font-weight: 300;
  line-height: 30px;
  width: 202px;
  height: 47px;
}

/* Suporte */
.suport-title {
  font-weight: 900;
  color: #003770;
  text-align: center;
  margin-top: 129px;
  margin-bottom: 54px;
}

.suport {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 65px 0px;
  line-height: 34px;
}

.suport-img {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-right: 30px;
}

.suport-img :first-child {
  width: 86px;
  height: 86px;
}

.suport-img :last-child {
  width: 90px;
  height: 78px;
}

.suport h4 {
  font-size: 2.5em;
}

.suport h4 a {
  font-style: italic;
}

.suport h5 {
  font-size: 2.2em;
  font-weight: 900;
}

.suport-number {
  font-size: 3.1em;
  font-weight: 900;
}

/* RODAPÉ */

.title-footer {
  font-weight: 900;
  color: #003770;
  text-align: center;
  margin-bottom: 60px;
}

.footer img {
  width: 409px;
  height: 72px;
}