@media only screen and (max-width: 1024px) {
  .content-1024 {
    padding-right: 50px;
    padding-left: 50px;
  }

  .content-1000 {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 1023px),
(max-width: 1024px) and (orientation: portrait) {

  .header .title-desktop {
    display: none;
  }

  .header .title-mobile {
    display: flex;
  }

  .image-mobile {
    display: inline;
  }

  .qtip-default {
    left: 0px;
  }

  /* ACCORDION */

  .back-accordion .accordion-principal-title {
    background-color: transparent;
  }
}

@media only screen and (max-width: 1022px) {
  .content-1024 {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* TIPOGRAFIA */
  h2 {
    font-size: 2.8em;
  }

  h3 {
    font-size: 2.1em;
  }

  h4 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.6em;
    color: #707070;
  }


  /* HEADER */
  .header {
    background-image: url(../../images/bkg/banner-mobile.png);
    background-size: cover;
    height: 338px;
  }

  .header .header-title {
    align-items: center;
    padding-bottom: 25px;
  }

  .title {
    justify-self: center;
  }

  .title h2 {
    font-weight: 900;
  }

  .logo-img {
    width: 238px;
    height: 42px;
  }

  .header .evolution {
    height: 66px;
    padding-top: 6px;
    padding-bottom: 16px;
  }

  .header .evolution h4 {
    font-size: 1.4em;
  }

  .progress {
    width: 216px;
    height: 14px;
    padding: 2px;
  }

  .main-title {
    justify-content: start;
    margin-top: 45px;
    margin-bottom: 20px;
  }

  .main-title img {
    height: 42px;
    width: 42px;
  }

  /* PLAYER */

  .player {
    font-size: 2.8em;
    margin-bottom: 32px;
    margin-top: 49px;
  }

  /*DESTAQUE SIMPLES */
  .highlight {
    background-image: url(../../images/bkg/background-pink-mobile.png);
  }

  .highlight-content h3 {
    font-size: 2.1em;
  }

  .highlight-content p {
    font-weight: 500;
    font-size: 2.1em;
    line-height: 24px;

  }

  /* FLASHCARD */
  .flashcard-title {
    font-size: 1.8em;
    margin-bottom: 28px;
  }

  .flashcard-text {
    font-size: 1.6em;
    margin-bottom: 54px;
    margin-top: 56px;
  }

  .slideshow-1 .slideshow-content {
    padding-left: 35%;
  }

  .slideshow-1 .slideshow-content .card {
    height: 297px;
    width: 211px;
    padding-top: 41px;
  }

  .slideshow-1 .slideshow-content .card-back {
    padding: 45px 24px 69px 23px;
    padding-bottom: 69px;
    padding-top: 45px;
  }

  .slideshow-1 .slideshow-content .card-back p {
    font-size: 1.6em;
  }

  .slideshow-1 .slideshow-content p {
    font-size: 1.8em;
    color: #003770;
    margin: 0px;
    line-height: 20px;
    font-weight: normal;
  }

  .is-deactive {
    background-size: 33px 33px;
    left: 42%;
    margin-bottom: 10px;
  }

  .card-is-active {
    background-size: 33px 33px;
  }

  .slideshow .slideshow-prev {
    background-image: url(../../images/ico/icon-prev-mobile.png);
    background-repeat: no-repeat;
  }

  .slideshow .slideshow-next {
    background-image: url(../../images/ico/icon-next-mobile.png);
    background-repeat: no-repeat;
  }

  .slideshow-1 .slick-arrow {
    width: 31px;
    height: 40px;
  }

  .slideshow-1 .slideshow-nav {
    padding: 30px 0 52px 0;
    gap: 161px;
  }

  .slideshow-1 .slick-dots li {
    margin-bottom: -11rem;
    width: 9px;
    height: 9px;
  }

  .slideshow-1 .slick-dots li button {
    width: 9px;
    height: 9px;
  }

  .highlight-content {
    padding-right: 100px;
  }

  /* ACCORDION */

  .back-accordion {
    padding-top: 34px;
  }

  .accordion-principal-title {
    color: #ff5800;
    font-weight: 2.8em;
  }

  .accordion {
    padding-top: 27px;
    margin-bottom: 58px;
  }

  /* IMPORTANTE */

  .stop-point-content h2 {
    font-size: 2.8em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 26px;
  }

  .important-text {
    text-align: center;
    margin: 27px 55px;
  }

  /* INFOGRÁFICO */

  .info-title {
    margin-top: 73px;
    margin-bottom: 22px;
    justify-content: flex-start;
  }

  .info-title img {
    width: 42px;
    height: 42px;
  }

  .info-title h2 {
    font-size: 2.4em;
    font-weight: 500;
  }

  .info-title p {
    text-align: left;
    color: #454646;
  }

  /* SLIDER */

  .slideshow-2 .slideshow-caption {
    padding: 28px 13px 21px 25px;
    width: 246px;
    height: 287px;
  }

  .slideshow-2 .slideshow-caption h5 {
    font-size: 2.4em;
    margin-bottom: 15px;
  }

  .slideshow-2 .slideshow-caption p {
    margin-top: 15px;
    font-size: 1.6em;
    line-height: 21px;
    color: #ffffff;
  }

  .slideshow-2 .slideshow-nav {
    gap: 153px;
    margin-bottom: 0px;
  }

  .slideshow-2 .slick-arrow {
    width: 31px;
    height: 40px;
  }

  .slideshow-2 .slick-dots li {
    margin-bottom: -6rem;
    width: 9px;
    height: 9px;
  }

  .slideshow-2 .slick-dots li button {
    width: 9px;
    height: 9px;
  }

  /* TOOLTIP */
  .tooltip-content {
    margin-top: 120px;
  }

  .tooltip-content p {
    font-size: 1.6em;
    line-height: 21px;
  }

  .qtip {
    width: 153px;
    height: 40px;
  }

  .qtip .qtip-content {
    margin-top: -5px;
    font-size: 14px;
    line-height: 16px;
    padding: 0px;
  }

  /* QUESTION */
  .activity-content {
    margin-top: 63px;
    padding-top: 61px;
  }

  .activity-content h2 {
    text-transform: uppercase;
    font-size: 2.8em;
    margin-bottom: 12px;
  }

  .question-featured p {
    font-size: 1.6em;
    margin-bottom: 15px;
  }

  .question {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .question .question-feedback-content {
    padding: 26px;
    height: 201px;
    width: 100%;
  }

  .img-question {
    width: 320px;
    height: 330px;
  }

  .question .input-group {
    margin-top: 12px;
  }

  .btn-close-feedback img {
    height: 24px;
    width: 24px;
  }

  .question .question-feedback-content .visual-feedback {
    flex-direction: column;
    margin-left: 24px;
    justify-content: center;
  }

  .question .negative-feedback button img {
    height: 24px;
    width: 24px;
  }

  .question .negative-feedback .visual-feedback img {
    height: 99px;
    width: 115px;
    margin-left: 0px;
  }

  .question .positive-feedback .visual-feedback img {
    height: 105px;
    width: 105px;
    margin-left: 0px;
  }

  .question .question-feedback-content .visual-feedback p {
    font-size: 1.1em;
    margin-left: 0px;
    line-height: 12px;
    margin-top: 14px;
    margin-right: 0px;
  }

  .question .input-radio {
    width: 19px;
    height: 19px;
  }

  .question .input-radio:before {
    width: 9px;
    height: 9px;
  }

  button.btn-save {
    font-weight: 300;
    padding: 4px 18px 0px 13px;
    margin-top: 7px;
    font-size: 1.8em;
    width: 140px;
    height: 32px;
    font-weight: 300;
    align-self: center;
    line-height: 21px;
  }

  /* SUPORTE */

  .suport-title {
    font-size: 2.8em;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 43px;
  }

  .suport {
    padding: 30px 0px 34px 0px;
    line-height: 22px;
  }

  .suport-img :first-child {
    width: 53px;
    height: 53px;
  }

  .suport-img :last-child {
    width: 56px;
    height: 48px;
  }

  .suport h4 {
    font-size: 1.6em;
  }

  .suport h5 {
    font-size: 1.4em;
  }

  .suport-img {
    gap: 19px;
    margin-right: 16px;
  }


  .suport-number {
    font-size: 2em;
  }

  /* RODAPÉ */

  .title-footer {
    font-size: 2.8em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  .footer img {
    width: 238px;
    height: 42px;
  }

}

@media only screen and (max-width: 425px) {
  .content-1024 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header .header-title h2 {
    margin-top: 40px;
  }

  .slideshow-1 .slideshow-content {
    padding-left: 23%;
  }

  .slideshow-1 .slideshow-nav {
    margin: 30px 0 49px 0;
    padding: 0px;
  }

  .slideshow-1 .slick-dots li {
    margin-bottom: -9rem;
  }

  .important-text {
    text-align: center;
    margin: 27px 35px;
  }

  .highlight-content {
    padding-right: 59px;
  }

  .question .input-radio {
    width: 35px;
    height: 22px;
  }

  .question .input-radio:before {
    width: 13px;
    height: 13px;
  }

  .question .question-feedback {
    bottom: 30%;
  }

}

@media only screen and (max-width: 320px) {
  .header .header-title h2 {
    margin-top: 50px;
  }

  .slideshow-1 .slideshow-content {
    padding-left: 0px;
  }

  .slideshow-1 .slideshow-nav {
    margin: 30px 0 49px 0;
    padding: 0px;
  }

  .slideshow-1 .slick-dots li {
    margin-bottom: -10rem;
  }

  .slideshow-1 .slick-list {
    padding: 0px 30px;
  }

  .important-text {
    text-align: center;
    margin: 27px 25px;
  }

  .question .question-feedback {
    bottom: 40%;
    width: 100%;
  }

  .question .input-radio {
    width: 35px;
    height: 19px;
  }

  .question .input-radio::before {
    width: 12px;
    height: 11px;
  }

  .img-question {
    width: 320px;
    height: 330px;
    margin-left: -15px;
  }

  .suport-img {
    gap: 16px;
  }
}